@font-face {
    font-family: 'robotoregular';
    src: url('../font/Roboto-Regular-webfont.eot');
    src: url('../font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Roboto-Regular-webfont.woff2') format('woff2'),
         url('../font/Roboto-Regular-webfont.woff') format('woff'),
         url('../font/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../font/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
    /* background-color: #000; */
    font-family: 'robotoregular';
    background-color: #0f0f0f;
    height: 100%;
}

.container {
    box-sizing: border-box;
}

/* NAVIGASI */
nav {
    height: 86px;
    /* background-color: #1c1c1c; */
    background-color: #0f0f0f;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo span {
    margin-left: 66px;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 50px;
    color: #dedede;
}

nav ul {
    display: flex;
    margin-right: 75px;
}

nav ul li {
    margin-left: 44px;
    font-size: 15px;
    color: #B0ABAB;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: #B0ABAB;
}

/* ANIMASI HOVER BOX */
.hover-toggle {
    display: none;
}

@keyframes hoverBox {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* HOVER BOX NAVIGASI */
.hover-products {
    width: 520px;
    background-color: #0f0f0f;
    position: absolute;
    z-index: 999999;
    top: 60px;
    right: 0;
    margin-right: 10px;
    display: flex;
    animation: hoverBox .5s;
}

.hover-products .list {
    padding: 20px;
    border-right: 1px dashed #313131;
    font-size: 13px;
}

.hover-products .list ul {
    list-style: none;
    display: flex;
    flex-direction: column;;
}

.hover-products .list ul li {
    margin-bottom: 20px;
}

.hover-products .list ul li a {
    text-decoration: none;
    color: white;
}

.hover-products .list-img {
    width: 468px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover-market-place {
    /* background-color: #313131; */
    background-color: #0f0f0f;
    position: absolute;
    z-index: 999999;
    top: 60px;
    right: 0;
    margin-right: 28px;
    border: 1px solid #0f0f0f;
    display: flex;
    flex-direction: column;
    animation: hoverBox .5s;
}

.hover-market-place a {
    text-decoration: none;
    margin: 5px 0;
}

/* CONTENT */
.content {
    margin: 0 auto;
    /* border: 1px solid white; */
    width: 90%;
}

.content .banner {
    height: 200px;
    /* border: 1px solid white; */
    /* background: url('../img/banner/banner-products/processor.jpg'); */
    background-position: center;
    background-size: cover;
}

.content .main {
    display: flex;
}

.main .menu {
    width: 20%;
    /* border: 1px solid white; */
    font-family: 'Roboto Condensed', sans-serif;
    color: #B0ABAB;
    font-size: 30px;
}

.main .menu .judul {
    margin-top: 20px;
    margin-bottom: 22px;
    text-align: center;
    display: block;
    cursor: pointer;
    /* border: 1px solid yellow; */
}

.main .menu .name {
    display: block;
    padding: 11px 0;
    border-bottom: 1px solid #282828;
    margin-bottom: 20px;
    padding-left: 11px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.box {
    font-size: 15px;
    padding-left: 20px;
    margin-top: -10px;
    margin-bottom: 20px;
    color: white;
    /* display: none; */
}

.box ul {
    list-style: none;
}

.box ul li {
    margin-top: 5px;
}

/* CARDS */
.main .inside {
    width: 80%;
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
}

.main .inside .items {
    width: 180px;
    /* height: 250px; */
    /* border: 1px solid #B0ABAB; */
    padding: 10px;
    font-family: 'robotoregular';
    color: white;
    border-radius: 5px;
    margin: 20px 20px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .inside .items img {
    text-align: center;
}

.main .inside .items .market-place, .main .inside .items span {
    margin-top: 10px;
    text-align: center;
}

.main .inside .items .market-place a {
    margin-right: 10px;
    text-decoration: none;
}


/* BOTTOM */
.bottom {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    /* background-color: #313131; */
    background-color: #0f0f0f;
    color: #B0ABAB;
    font-size: 12px;
    border-top: 1px solid #BCB4B4;
    /* border: 1px solid white; */
    /* overflow: hidden; */
    /* position: absolute;
    bottom: 0; */
}
